.to-do-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 1200px;
    height: 70px;
    background-color: rgb(162, 174, 214);
    padding: 30px;
    gap: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.to-do-form>.input-group{
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.title-label{
    font-size: 20px;
    font-weight: 600;
    color:whitesmoke;
}
.body-label{
    font-size: 20px;
    font-weight: 600;
    color: whitesmoke;
}

.input-title {
    border-radius: 20px;
    width: 300px;
    height: 35px;
    border: none;
    background-color:whitesmoke;
}
.input-body {
    border-radius: 20px;
    width: 300px;
    height: 35px;
    border: none;
    background-color:whitesmoke;
}

.input-title:focus{
    outline: 3px solid  rgb(111, 116, 132);
}

.input-body:focus{
    outline: 3px solid  rgb(111, 116, 132);
}

.add-btn {
    border: 3px solid whitesmoke;
    height: 45px;
    border-radius: 20px;
    background-color: transparent;
    width: 150px;
    color:whitesmoke;
    font-weight: 700;
    font-size: 18px;
  }

  .add-btn:focus {
    border: 5px solid whitesmoke;
  }